<div class="input-field col s3">
    <input id="category-search" type="text" autocomplete="off">
    <label for="category-search">Search</label>
</div>

<div class="col s4 offset-s1 mt5">
    <div id="test-slider"></div>
</div>

<div class="input-field col s3 offset-s1">
    <select id="order" name="order">
        <option value="" disabled selected>Order by</option>
        <option id="lowHigh" class="orderOption" name="lowHigh" value="?ob=priceAsc">price: low-high</option>
        <option class="orderOption" value="?ob=priceDesc">price: high-low</option>
    </select>
</div>