<div class="input-field col s3 offset-s9">
    <select id="order" name="order">
        <option value="" disabled selected>Order by</option>
        <option id="lowHigh" class="orderOption" name="lowHigh" value="?ob=priceAsc">price: low-high</option>
        <option class="orderOption" value="?ob=priceDesc">price: high-low</option>
    </select>
    <label>Materialize Select</label>
</div>

<script>
    let orderHTML = document.getElementById('order');
    let orderOptions = document.getElementsByClassName('orderOption');
    orderHTML.addEventListener('change', function () {
        window.location = orderHTML.options[orderHTML.selectedIndex].value
    });
    console.log(orderHTML.options[orderHTML.selectedIndex].value);

    for (let i = 0; i < orderOptions.length; i++) {
        console.log(orderOptions[i].value);
        if (window.location.search === orderOptions[i].value) {
            orderHTML.value = orderOptions[i].value
        }
    }
</script>