* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ADMIN PAGE
**/

ul.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

ul.side-nav .header {
    padding: 25px;
    font-size: 2.4rem !important;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

ul.side-nav li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem !important;
}

ul.side-nav li a.active {
    background-color: #555;
    color: white;
}

ul.side-nav li a:hover:not(.active) {
    background-color: #393939;
    color: white;
}

.products-table {
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    width: calc(100% - 250px);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
}

.add-product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - 250px) !important;
    margin-left: auto !important;
}

.products-table td {
    text-align: center;
}

.dashboard {
    padding: 50px;
}

.dashboard-chart {
    width: calc(100% - 250px) !important;
    height: 100% !important;
    margin-left: auto;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 250px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
}

.loader-wrapper .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}