.navbar-fixed i {
  width: 64px;
  display: inline-block !important;
}

.navbar-fixed #nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.navbar-fixed #nav-mobile .search-bar {
  background: #fff;
  border: none;
  padding: 0 10px;
  width: 200px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 3px;
  margin-top: 15px;
  height: 36px;
}

.navbar-fixed #nav-mobile .search-bar:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 260px;
}

.navbar-fixed #nav-mobile .btn.white {
  width: 100px;
  margin: 0 5px;
}

.navbar-fixed #nav-mobile .btn.white:hover {
  background: #e1e1e1 !important;
}

.navbar-fixed .cart {
  position: absolute;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-fixed .cart:hover {
  background: none !important;
  color: #e1e1e1;
}

.navbar-fixed .nav-content .tab a:focus {
  background: #333;
}

.sidenav {
  width: 230px;
}

.sidenav form {
  width: 80%;
  margin: 0 auto;
}

.sidenav form input[type=search]:not(.browser-default):focus {
  border-color: #424242;
  -webkit-box-shadow: 0 1px 0 0 #424242;
          box-shadow: 0 1px 0 0 #424242;
}

.sidenav .buttons {
  margin-left: 30px;
}

.sidenav li a {
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  margin-bottom: 50px;
}

.swiper-container img {
  width: 100%;
}

.container.products {
  margin: 75px auto;
}

.container.products .card .card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 200px;
  overflow: hidden;
}

.container.products .card .card-image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 180px;
}

.container.products .card .clickable {
  cursor: pointer;
}

.container.products .card .card-content {
  padding: 10px;
}

.container.products .card .card-content .card-title {
  font-size: 1.4rem;
}

.container.products .card .card-content .card-desc {
  font-size: .9rem;
}

.container.products .card .card-action {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container.products .card .card-action .btn.grey.darken-3.white-text {
  font-size: .9rem;
}

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 150px;
}

.product-page .col.s5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 350px;
}

.product-page .col.s5 img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-page .col.s7 .page-price {
  font-size: 2rem;
  font-weight: 700;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-product {
  margin: 100px auto;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: .5em;
}

.m2 {
  margin: 1em;
}

.m3 {
  margin: 1.5em;
}

.m4 {
  margin: 2em;
}

.m5 {
  margin: 2.5em;
}

.my1 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.my2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.my3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.my4 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.my5 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.mx1 {
  margin-left: .5em;
  margin-right: .5em;
}

.mx2 {
  margin-left: 1em;
  margin-right: 1em;
}

.mx3 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.mx4 {
  margin-left: 2em;
  margin-right: 2em;
}

.mx5 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.mt1 {
  margin-top: .5em;
}

.mt2 {
  margin-top: 1em;
}

.mt3 {
  margin-top: 1.5em;
}

.mt4 {
  margin-top: 2em;
}

.mt5 {
  margin-top: 2.5em;
}

.mr1 {
  margin-right: .5em;
}

.mr2 {
  margin-right: 1em;
}

.mr3 {
  margin-right: 1.5em;
}

.mr4 {
  margin-right: 2em;
}

.mr5 {
  margin-right: 2.5em;
}

.mb1 {
  margin-bottom: .5em;
}

.mb2 {
  margin-bottom: 1em;
}

.mb3 {
  margin-bottom: 1.5em;
}

.mb4 {
  margin-bottom: 2em;
}

.mb5 {
  margin-bottom: 2.5em;
}

.ml1 {
  margin-left: .5em;
}

.ml2 {
  margin-left: 1em;
}

.ml3 {
  margin-left: 1.5em;
}

.ml4 {
  margin-left: 2em;
}

.ml5 {
  margin-left: 2.5em;
}

@media (max-width: 1200px) {
  .products .card .card-image img {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 160px;
  }
  .products .card-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products .card-action .btn {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  #nav-mobile .search-bar {
    width: 100px !important;
  }
  #nav-mobile .search-bar:focus {
    width: 120px !important;
  }
  .product-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
  .product-page .col.s5 {
    width: 100%;
    height: 250px;
  }
  .product-page .col.s7 {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .nav-wrapper.container {
    width: 100%;
  }
  .nav-wrapper.container .sidenav-trigger {
    margin: 0;
  }
  .nav-wrapper.container .sidenav-trigger i {
    width: 40px;
  }
  .nav-wrapper.container .cart {
    margin-left: 10px;
  }
  .nav-content {
    display: none;
  }
  .cart {
    left: 0;
  }
}

@media (max-width: 740px) {
  .swiper-container {
    display: none;
  }
  .container.products .col.s3 {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .container.products .col.s3 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */