<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/adminpage.css">
    <title>Adminpage - add product</title>
</head>

<body>

    <%- include('../partials/adminsidenav'); -%>

    <div class="dashboard">
        <canvas class="dashboard-chart" id="dashboard-chart"></canvas>
    </div>

    <div class="loader-wrapper">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/scripts'); -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="../js/admin.js"></script>

</body>

</html>