<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/adminpage.css">
    <title>Adminpage - add product</title>
</head>

<body>

    <div class="side-nav">
        <div class="side-nav-link side-nav-header">
            <a href="/">Home</a>
        </div>
        <div class="side-nav-link">
            <i class="material-icons">list</i><a href="/adminpage">Product list</a>
        </div>
        <div class="side-nav-link active">
            <i class="material-icons">dashboard</i><a href="/adminpage/dashboard">Dashboard</a>
        </div>
        <div class="side-nav-link">
            <i class="material-icons">add</i><a href="/adminpage/addproduct">Add product</a>
        </div>
    </div>

    <div class="dashboard">
        <canvas class="dashboard-chart" id="dashboard-chart"></canvas>
    </div>

    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <%- include('../partials/scripts'); -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="../js/admin.js"></script>

</body>

</html>