<div class="navbar-fixed">
    <nav class="nav-extended grey darken-3">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Name / Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <input placeholder="Search" minlength="3" class="search-bar" type="search">
                <button class="btn white black-text" id="search">Search</button>

                <a class="btn white black-text" href="#">Log in</a>
                <a class="btn white black-text" href="#">Sign up</a>
            </ul>
            <a class="cart" href="#">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>
        <div class="nav-content container center">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/c/computers">computers</a></li>
                <li class="tab"><a href="/c/components">components</a></li>
                <li class="tab"><a href="/c/peripherals">peripherals</a></li>
                <li class="tab"><a href="/c/phones">phones</a></li>
                <li class="tab"><a href="/c/gaming">gaming</a></li>
                <li class="tab"><a href="/c/network">network</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Computers</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Peripherals</a></li>
    <li><a href="#">Phones</a></li>
    <li><a href="#">Gaming</a></li>
    <li><a href="#">Network</a></li>
    <form>
        <input placeholder="Search" class="search-bar" type="search">
    </form>
    <div class="buttons">
        <a class="btn grey darken-3" href="#">Log in</a>
        <a class="btn grey darken-3" href="#">Sign up</a>
    </div>
</ul>